/* font face begins here --
-------------------------------------------- */
@font-face{
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot.eot') format('eot'),
       url('../fonts/Montserrat-Bold.svg') format('svg'),
       url('../fonts/Montserrat-Bold.ttf') format('ttf'),
       url('../fonts/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold.woff2') format('woff2');
}
@font-face{
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot.eot') format('eot'),
       url('../fonts/Montserrat-Light.svg') format('svg'),
       url('../fonts/Montserrat-Light.ttf') format('ttf'),
       url('../fonts/Montserrat-Light.woff') format('woff'),
       url('../fonts/Montserrat-Light.woff2') format('woff2');
}
@font-face{
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot.eot') format('eot'),
       url('../fonts/Montserrat-Regular.svg') format('svg'),
       url('../fonts/Montserrat-Regular.ttf') format('ttf'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2');
}
/* font face ends here --
----------------------------------------------- */

/* reset css starts here
----------------------------------------------- */
body{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
figure{
  padding: 0;
  margin: 0;
  line-height: 0;
}
img{
  max-width: 100%;
  max-height: 100%
}
ul,li{
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0
}
p{
  margin: 0;
  padding: 0
}
/* reset css ends here
----------------------------------------------- */

/* header begins here
----------------------------------------------- */
.header-main .top-bar{
  padding-top: 10px
}
.header-main .top-bar .social-links li{
  margin-left: 7px;
  margin-right: 7px;
}
.header-main .main-logo{
  font-family: 'Montserrat-Light';
  font-size: 35px;
}
.header-main .navbar .navbar-nav{
  margin-left: auto;
}
.header-main .navbar a{
  color: black;
  font-family: 'Montserrat-Regular';
}
.header-main .navbar .nav-item a{
  font-size: 14px
}
/* header ends here
----------------------------------------------- */

/* hero banner starts here
----------------------------------------------- */
.hero-banner{
  background: #f5f8fd url("../images/banner-bg.jpg") center top no-repeat;
  font-family: 'Montserrat-Regular';
  height: 100vh;
  margin-top: -112px
}
.hero-banner .h-color{
  color: #1bb1dc
}
.hero-banner .h-button{
  background-color: #1bb1dc;
  color: white;
  padding: 8px 25px;
  font-size: 13px;
}
.hero-banner .h-button:hover{
  background-color: #0a98c0;
  color: white
}
.hero-banner .hero-text h2{
 font-family: 'Montserrat-Regular';
  color: #413e66;
  letter-spacing: 2px;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700
}
/* hero banner ends here
----------------------------------------------- */

/* about us starts here
---------------------------------------------- */
.about-us{
  padding: 80px 0px;
}
.about-us .about-us-img{
  position: relative;
}
.about-us .about-us-img figure{
  z-index: 1
}
.about-us .about-us-img figure::before{
  content: "";
  position: absolute;
  width: 92%;
  height: 100%;
  background-color: black;
  z-index: 0
}
.about-us .about-us-img figure img{
  border: 8px solid white;
}
/* about us ends here
---------------------------------------------- */
