/* font face begins here --
-------------------------------------------- */
@font-face{
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot.eot') format('eot'),
       url('../fonts/Montserrat-Bold.svg') format('svg'),
       url('../fonts/Montserrat-Bold.ttf') format('ttf'),
       url('../fonts/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold.woff2') format('woff2');
}
@font-face{
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot.eot') format('eot'),
       url('../fonts/Montserrat-Light.svg') format('svg'),
       url('../fonts/Montserrat-Light.ttf') format('ttf'),
       url('../fonts/Montserrat-Light.woff') format('woff'),
       url('../fonts/Montserrat-Light.woff2') format('woff2');
}
@font-face{
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot.eot') format('eot'),
       url('../fonts/Montserrat-Regular.svg') format('svg'),
       url('../fonts/Montserrat-Regular.ttf') format('ttf'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2');
}
/* font face ends here --
----------------------------------------------- */

/* reset css starts here
----------------------------------------------- */
body{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: #444
}
*{
  box-sizing: border-box;
}
figure{
  padding: 0;
  margin: 0;
  line-height: 0;
}
img{
  max-width: 100%;
  max-height: 100%
}
ul,li{
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0
}
p{
  margin: 0;
  padding: 0
}
/* reset css ends here
----------------------------------------------- */

/* header begins here
----------------------------------------------- */
.header-main .main-logo{
  font-family: 'Montserrat-Light';
  font-size: 35px;
}
.header-main .navbar a{
  color: black;
  font-family: 'Montserrat-Regular';
}
.header-main .navbar .nav-item a:hover{
  color: #1bb1dc
}
.header-main .navbar .nav-item a{
  font-size: 14px
}
/* header ends here
----------------------------------------------- */

/* hero banner starts here
----------------------------------------------- */
.hero-banner{
  background: #f5f8fd url("../images/banner-bg.jpg") center top no-repeat;
  font-family: 'Montserrat-Regular';
  height: 100vh;
  margin-top: -112px
}
.hero-banner .h-color{
  color: #1bb1dc
}
.hero-banner .h-button{
  background-color: #1bb1dc;
  color: white;
  font-size: 13px;
}
.hero-banner .h-button:hover{
  background-color: #0a98c0;
  color: white
}
.hero-banner .hero-text h2{
 font-family: 'Montserrat-Regular';
  color: #413e66;
  letter-spacing: 2px;
  font-size: 48px;
  font-weight: 700
}
/* hero banner ends here
----------------------------------------------- */

/* about us starts here
---------------------------------------------- */
.about-us{
  padding: 80px 0px;
  background-color: #ffffff
}
.about-us .about-us-img{
  position: relative;
}
.about-us .about-us-img figure img{
  width: 90%;
  z-index: 1
}
.about-us .about-us-img figure img:hover{
  transform: scale(1.03);
  transition: 0.75s
}
.about-us .about-us-img figure::before{
  content: "";
  position: absolute;
  width: 80%;
  height: 92%;
  top: -30px;
  left: 0px;
  background-color: #ebf1fa;
  z-index: 0;
}
.about-us .about-us-img figure::after{
  content: "";
  position: absolute;
  width: 80%;
  height: 92%;
  bottom: -30px;
  right: 0px;
  background-color: #ebf1fa;
  z-index: 0;
}
.about-us .about-us-img figure img{
  border: 8px solid white;
}
.about-us .text-area h3{
  color: #413e66;
  font-size: 35px;
  font-family: 'Montserrat-Regular';
  font-weight: 900
}
.about-us .text-area p:nth-child(2){
  color: #696592;
  font-size: 22px;
  font-family: 'Montserrat-Light';
  font-style: italic;
}
.about-us .text-area p{
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: #444
}
.about-us .text-area li{
  list-style-type: circle;
  display: block;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.8px
}
/* about us ends here
---------------------------------------------- */

/* services start here
---------------------------------------------- */
.services{
 background-color: #f5f8fd;
 padding: 80px 0;
}
.section-heading h2{
  color: #413e66;
  font-size: 35px;
  font-family: 'Montserrat-Bold';
  /* margin-bottom: 20px; */
}
.section-heading p{
  color: #535074;
  font-size: 15px;
}
.services .single-service{
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.4s ease-in-out;
}
.services .single-service:hover{
  transform: scale(1.1);
}
.services .single-service:hover h3{
  color: #1bb1dc;
}
.services .single-service figure{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: red
}
.services .single-service figure i{
  font-size: 40px;
}
.services .single-service h3{
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat-Regular';
  font-weight: 700;
  margin-bottom: 12px;
  color: #111;
}
.services .single-service h3 a:hover{
  color: #1bb1dc;
  text-decoration: none;
}
.services .single-service p{
  text-align: left;
  font-size: 14px;
  font-family: 'Montserrat-Light';
}
/* services end here
---------------------------------------------- */

/* why choose us starts here
----------------------------------------------- */
.choose-us{
  padding: 80px 0px;
  background-color: #ffffff;
}
.choose-us .content-area p{
  font-size: 17px;
  margin-bottom: 25px;
}
.choose-us .points{
  position: relative;
}
.choose-us .points h3{
  color:#413e66;
  font-weight: 600
}
.choose-us .points p{
  color: #555186
}
.choose-us .points .point-icon{
  position: absolute;
  top:4px;
  left: 0px;
  font-size: 36px;
}
.choose-us .counter-tab .single-counter{
    flex-direction: column;
    display: flex;
}
.choose-us .counter-tab .single-counter span{
  font-size: 48px;
  color: #555186;
  font-family: 'Montserrat-Bold';

}
.choose-us .counter-tab .single-counter p{
  color: #8a87b6;
  font-size: 14px;
}
/* why choose us ends here
----------------------------------------------- */

/* call to action starts here
------------------------------------------------ */
.call-action{
  background-color: #2d2b46;
  color: #fff;
  padding: 40px 0;
}
.call-action .action-content h2{
  font-size: 30px;
  font-family: 'Montserrat-Bold';
}
.call-action .action-button a{
  border: 3px solid white;
  font-size: 16px;
  border-radius: 3px;
  transition: 0.4s ease-out;
  font-weight: 600;
  letter-spacing: 1px;
}
.call-action .action-button a:hover{
  background-color: #1bb1dc;
  border: 3px solid #1bb1dc;
  transition: 0.4s ease-in;
  color: white;
  text-decoration: none
}
/* call to action ends here
------------------------------------------------ */

/* features section starts here
------------------------------------------------ */
.features-section{
  background-color: #fff;
  padding: 80px 0;

}
.features-section .feature-text h3{
  font-family: 'Montserrat-Regular';
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2
}
.features-section .feature-text p{
  font-size: 17px;
  line-height: 1.5
}
/* features section ends here
------------------------------------------------ */

/* our portfolio starts here
------------------------------------------------ */
.portfolio{
  background-color: #f5f8fd;
  padding: 80px 0;
}
/* our portfolio ends here
-------------------------------------------------*/

/* testimonials start here
------------------------------------------------*/
.testimonials{
  background-color: #fff;
  padding: 80px 0;
}
.t-slider .item figure img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.t-slider .item .item-info h3{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat-Regular';

}
.t-slider .item .item-info h4{
  font-size: 14px;
  color: #999
}
.t-slider .item .item-info p{
  width: 80%;
  font-style: italic;
}
/* testimonials end here
------------------------------------------------*/
